<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278625394290-su0dldgbllks8et1d0ao0ssqg0h92qua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278625394290-su0dldgbllks8et1d0ao0ssqg0h92qua</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278625394290-utjhqcehstrftovdjr5hkq6k6g69rfi8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5yNmQRgXqSZAluNpQVpg8soj3KNPQlLU</string>
	<key>GCM_SENDER_ID</key>
	<string>278625394290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finalBattle</string>
	<key>PROJECT_ID</key>
	<string>the-final-battle-287a4</string>
	<key>STORAGE_BUCKET</key>
	<string>the-final-battle-287a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278625394290:ios:3aa4ee0515612bb464eceb</string>
</dict>
</plist>